@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

*{
	font-family: 'Nanum Gothic Coding', monospace;
}
body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #677e52;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}


/* Main */
#mainHeader {
	width: 1200px;
	margin: auto;
	margin-top: 10px;
}
#mainSection {
	width: 1220px;
	margin: auto;
}

/* Top Menu */
.topUl {
	list-style: none;
	color: #677e52;
	font-weight: bold;
}
.topUl li {
	display: inline;
	padding-right: 30px;
}

/* Join */
.joinTable input[type="text"] {
	width: 300px;
	height: 35px;
	border: 0px solid black;
	border-bottom: 2px solid #677e52;
	color: #677e52;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 7px;
}
.joinTable input[type="password"] {
	width: 300px;
	height: 35px;
	border: 0px solid black;
	border-bottom: 2px solid #677e52;
	color: #677e52;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 7px;
}
.joinTable input[type="submit"] {
	width: 150px;
	height: 37px;
	border: 2px solid #677e52;
	background: white;
	margin-top: 20px;
	font-weight: bold;
	color: #677e52;
}
.joinTable input[type="submit"]:hover {
	background: #677e52;
	color: white;
}

/* Event Write */
.eventTable input[type="text"] {
	width: 500px;
	height: 40px;
	font-size: 1.2em;
	border: 0px solid black;
	border-bottom: 2px solid #677e52;
	color: #677e52;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 7px;
}
.eventTable textarea {
	width: 490px;
	height: 300px;
	font-size: 1em;
	border: 2px solid #677e52;
	color: #677e52;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 9px;
	resize: none;
	line-height: 1.6em;
}
.eventTable label {
	display: inline-block;
  	padding: .4em .75em;
	color: #677e52;
	vertical-align: middle;
	background-color: white;
	border: 1px solid #677e52;
	cursor: pointer;
	border-radius: .25em;
	font-size: 0.8em;
}
.eventTable input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.eventTable input[type="date"] {
	border: 1px solid #677e52;
	color: #677e52;
}
.eventTable input[type="submit"] {
	width: 150px;
	height: 37px;
	border: 2px solid #677e52;
	background: white;
	margin-top: 20px;
	font-weight: bold;
	color: #677e52;
}
.eventTable input[type="submit"]:hover {
	background: #677e52;
	color: white;
}

/* Event */
.eventFirstForm {
	position: relative;
}
.firstCenterInput {
	position: relative;
	top: -450px;
	left: 410px;
}
.firstLeftInput {
	position: relative;
	top: -400px;
	left: 470px;
}
.firstRightInput {
	position: relative;
	top: -400px;
	left: 350px;
}
.firstFirstInput {
	position: relative;
	top: -590px;
	left: 550px;
}

.centerCenterInput {
	position: relative;
	top: -320px;
	left: 555px;
}
.centerLeftInput {
	position: relative;
	top: -400px;
	left: 470px;
}
.centerRightInput {
	position: relative;
	top: -400px;
	left: 350px;
}
.centerFirstInput {
	position: relative;
	top: -228px;
	left: 408px;
}

.secondCenterInput {
	position: relative;
	top: -270px;
	left: 590px;
}
.secondLeftInput {
	position: relative;
	top: -220px;
	left: 650px;
}
.secondRightInput {
	position: relative;
	top: -220px;
	left: 530px;
}
.secondFirstInput {
	position: relative;
	top: -410px;
	left: 730px;
}

.thirdCenterInput {
	position: relative;
	top: -340px;
	left: 230px;
}
.thirdLeftInput {
	position: relative;
	top: -290px;
	left: 290px;
}
.thirdRightInput {
	position: relative;
	top: -290px;
	left: 170px;
}
.thirdFirstInput {
	position: relative;
	top: -480px;
	left: 370px;
}

.evnetInput {
	height: 30px;
	border: 0px solid black;
	background: rgba(255,255,255,0);
	text-align: center;
	border-bottom: 1px solid black;
}
.eventWriteForm {
	position: relative;
	width: 550px;
	text-align: left;
	margin: auto;
	top: -230px;
}
.eventWriteForm th {
	color: #677e52;
	text-align: right;
	padding-right: 20px;
	padding-top: 10px;
}
.eventWriteForm td {
	padding-top: 10px;
}
.eventWriteForm input[type='text'] {
	border: 0px solid black;
	border-bottom: 2px solid #677e52;
	height: 20px;
	width: 73px;
	padding-left: 5px;
}
.eventWriteForm input[type='email'] {
	border: 0px solid black;
	border-bottom: 2px solid #677e52;
	height: 20px;
	width: 150px;
	padding-left: 5px;
}
.eventWriteForm input[type='submit'] {
	border: 2px solid #677e52;
	background-color: white;
	height: 38px;
	width: 88px;
	padding-left: 5px;
	margin-top: 15px;
}
.eventWriteForm input[type='submit']:hover {
	background-color: #677e52;
	color: white;
}
.eventWriteForm select {
	border: 0px solid black;
	border-bottom: 2px solid #677e52;
	height: 20px;
	width: 60px;
	padding-left: 5px;
}

.selectTable {
	font-size: 0.8em;
}
.selectedbtn {
	color: #677e52;
	background-color: white;
	border: 1px solid #677e52;
	width: 50px;
	height: 28px;
}
.selectedbtn:hover {
	background-color: #677e52;
	color: white;
}
.selectedbtn2 {
	color: white;
	background-color: #677e52;
	border: 1px solid #677e52;
	width: 50px;
	height: 28px;
}
.selectedbtn2:hover {
	background-color: white;
	color: #677e52;
}